{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<nav id="sidebar-icon-links">

  <!-- Link to Github Profile -->
  {% if author.github %}
    <a id="github-link"
        class="icon" title="Github Profile" aria-label="Github Profile"
        href="https://github.com/{{ author.github }}">
        <i class="fa-brands fa-github fa-fw"></i>
    </a>
  {% endif %}

<!-- eff bitbucket
  {% if author.bitbucket %}
    <a id="bitbucket-link"
       class="icon" title="Bitbucket Profile" aria-label"Bitbucket Profile"
       href="https://bitbucket.org/{{ author.bitbucket }}">
       <i class="fa fa-bitbucket fa-fw"></i>
    </a>
  {% endif %}
-->

  {% if author.orcid %}
    <a id="orcid-link"
       class="icon" title="ORCID Profile" aria-label"ORCID Profile"
       href="https://orcid.org/{{ author.orcid }}">
      <i class="ai ai-orcid ai-fw"></i>
    </a>
  {% endif %}

  {% if author.googlescholar %}
    <a id="google-scholar-link"
       class="icon" title="Google Scholar Profile" aria-label"Google Scholar Profile"
       href="https://scholar.google.com/citations?user={{ author.googlescholar }}">
      <i class="ai ai-google-scholar ai-fw"></i>
    </a>
  {% endif %}

  {% if author.linkedin %}
    <a id="linkedin-link"
       class="icon" title="LinkedIn Profile" aria-label"LinkedIn Profile"
       href="https://linkedin.com/in/{{ author.linkedin }}">
      <i class="fa-brands fa-linkedin fa-fw"></i>
    </a>
  {% endif %}

  {% if author.researchgate %}
    <a id="researchgate-link"
       class="icon" title="Research Gate Profile" aria-label"Research Gate Profile"
       href="https://researchgate.net/profile/{{ author.researchgate }}">
      <i class="ai ai-researchgate ai-fw"></i>
    </a>
  {% endif %}

  {% if author.bluesky %}
    <a id="bluesky-link"
       class="icon" title="Bluesky Profile" aria-label="Bluesky Profile"
       href="https://bsky.app/profile/{{ author.bluesky }}">
       <svg  class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z"/></svg>
    </a>
  {% endif %}

  {% if author.twitter %}
    <a id="twitter-link"
       class="icon" title="Twitter Profile" aria-label"Twitter Profile"
       href="https://twitter.com/{{ author.twitter }}">
      <i class="fa-brands fa-twitter fa-fw"></i>
    </a>
  {% endif %}

  <!-- Github feed?
  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">
    {% include svg/feed.svg %}
  </a>
  -->

  {% comment %}
    Check if we have tag or search pages page active before linking to it.
  {% endcomment %}
  {% assign tags_page = false %}
  {% assign search_page = false %}
  {% for node in site.pages %}
    {% if node.layout == "tags" %}
      {% assign tags_page = node %}
    {% elsif node.layout == "search" %}
      {% assign search_page = node %}
    {% endif %}
  {% endfor %}

  <!-- Tags, need to uncomment tags.html
  {% if tags_page %}
    <a id="tags-link"
       class="icon{% if page.url == '/tags' %} active{% endif %}"
       title="Tags" aria-label="Tags"
       href="{{ tags_page.url | relative_url }}">
      {% include svg/tags.svg %}
    </a>
  {% endif %}
  -->

  <!-- Search button, need to uncomment search.html
  {% if search_page %}
    <a id="search-link"
       class="icon{% if page.url == '/search' %} active{% endif %}"
       title="Search" aria-label="Search"
       href="{{ search_page.url | relative_url }}">
      {% include svg/search.svg %}
    </a>
  {% endif %}
  -->

  {% include custom-icon-links.html %}
</nav>
