---
layout: page
---

{% unless page.content == '' %}
  {{ content }}
{% endunless %}

<ul class="posts-simple">
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      {% if post.img %}
         <div class="tile">
           <img src="/assets/img/{{ post.img | relative_url }}" class="post-pic" align="left">
           <h3>
             <a href="{{ post.url | relative_url }}" >
               {{  post.title  }}
             </a>
           </h3>
        </div>
      {% else %}
        <h3>
          <a href="{{ post.url | relative_url }}">
              {{  post.title  }}
          </a>
        </h3>
      {% endif %}
    </li>
  {% endfor %}
</ul>
